.navbar {
  background-color: rgba(12, 124, 124, 0.603);
  margin: 0;
  padding: 0;
  display: block;
  width: absolute;
  height: 45px;
}

.icon {
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
  color: black;
}

.teste {
  margin-left: 50%;
}